{% extends "base.html" %}
{% block body %}

<h1 class="aboutus"><center>ABOUT US</center></h1>

<h2 class="newblue">Vijay Gorantla</h2>
<p class="newblue"> Hi, I am Vijay! I am a senior at Redmond High School and I am a Running Start student
                    attending Bellevue College. I want to pursue Computer Science in college. My aspiraiton
                    is to use my knowledge in compupter science for the betterment of the world. <br>
                    My linkedIn page: <a href="https://www.linkedin.com/in/vijaya-gorantla-36b54a190/">https://www.linkedin.com/in/vijaya-gorantla-36b54a190/</a><br /></p>

<h2 class="newred">Keren Seare</h2>
<p class="newred"> Hi, I am Keren and I'm currently a senior at Edmonds Woodway High School.
                  I am passionate about social advocacy and using computer science to issue justice
                  to institutionally oppressed groups. VOTE Keren 4 president 2040!
                  </p>
<h2 class="newblue">YooJin Han</h2>
<p class="newblue">Hey, I'm YooJin. I am a senior at Lake Washington High School.
I have lived in four different continents in the span of 17 years and is part of Girls Who Code :)</p>
<h2 class="newred">Asma</h2>
<p class="newred">Hi, I'm Asma and I am a junior at Redmond High School. </p>
</div>
{% endblock %}
