{% extends "base.html" %}

{% block body %}
<center>
<h1 class="blue">Pete Buttigieg</h1>

<img alt= "Pete Buttigieg" src="{{ url_for('static', filename='pete(Twitter).png')}}" width="285" height="285" style="padding-bottom:0.5em;">
</center>

<p class="text">
Peter Paul Montgomery Buttigieg is a former U.S. Naval Reserve officer who has served as mayor of South Bend, Indiana, since 2012. He is one of three combat veterans running for the Democratic Party nomination in the 2020 United States presidential election.
</p>


<h2 class="red">Gun Control:</h2>
<p class="text">
- Pete knows that America can protect gun rights and balance the Second Amendment with sensible gun laws. His policy is to:
    <ul class="text">
     <li>Institute universal background checks</li>
     <li>Ban assault weapons and high-capacity magazines</li>
     <li>Enact red flag laws (also known as extreme risk laws) that disarm at-risk individuals and allow friends
and family to intervene when they observe warning signs</li>
     <li>Close the “boyfriend loophole” to keep guns out of the hands of domestic abusers</li>
    <li>Close the “Charleston loophole” to allow the FBI additional time to complete every background check</li>
    <li>Close the hate loophole to prohibit people convicted of hate crimes from acquiring or possessing firearms</li>
    <li>Hold the gun industry accountable by repealing the Protection of Lawful Commerce in Arms Act (PLCAA) to
      end gun industry immunity</li>
    <li>Establish a nationwide gun licensing system</li>
    <li>Resume federal funding for gun violence research</li>
    <li>Invest in evidence-based urban gun violence intervention programs proven to work</li>
    </ul>
</p>

<h2 class="blue">Immigration:</h2>
<p class="text">
- Common sense immigration reform must include a pathway to citizenship for immigrants living, working,
paying taxes, and contributing to our American story, including DREAMers; resources to end the backlogs
in our lawful immigration and asylum processes; and reasonable security measures at the border. Most Americans
support such a package, and it is long past time for Washington to deliver.His policy is to:<br>
      <ul class="text">
  <li>  Modernize our immigration laws to reflect today’s humanitarian and economic needs</li>
  <li>  Restore our global leadership in humanitarian relief for refugees</li>
  <li>  End the family separation crisis and evaluate ICE and CBP practices to ensure similar humanitarian crises never
happen again</li>
  <li>  Reinstate enforcement priorities and prevent arbitrary targeting of immigrant communities by enforcement
officials</li>
    </ul>
</p>

<h2 class="red">Climate Change:</h2>
<p class="text">
- Implement a Green New Deal with all available tools, including a carbon tax-and-dividend for Americans<br>
- support major direct investment to build a 100% clean energy society<br>
- “We will prepare our military and disaster response agencies for the security threats of climate change.” His policy will be to:<br>
      <ul class="text">
    <li>Increase energy efficiency in homes</li>
    <li>Invest in building retrofits</li>
    <li>Strengthen rural resilience and protect rural communities from environmental hazards</li>
    <li>Decarbonize transportation and industry</li>
    <li>Commit to the Paris Climate Agreement and collaborate with other countries to increase all our goals</li>
    <li>Convene state and local leaders for an agreement on community-driven carbon reduction.</li>
    </ul>
</p>

<h2 class="blue">Candidate Website: </h2> <a href=https://peteforamerica.com/>https://peteforamerica.com/</a><br>
{% endblock %}
