{% extends "base.html" %}

{% block body %}
<center>
<h1 class="blue">Kamala Harris</h1>

<img alt= "Kamala Harris" src="{{ url_for('static', filename='harris(twitter).jpg')}}" width="285" height="285" style="padding-bottom:0.5em;">
</center>

<p class="text">
Harris is currently US Senator from California. Running for president of the United States as a Democratic candidate. Harris is married to lawyer Douglas Emhoff. 54 years old.
</p>

<h2 class="red">Gun Control:</h2>
<p class="text">
  <ul class="text">
  <li> If Congress fails to send comprehensive gun safety legislation to Kamala’s desk within her first 100 days as president – including universal background checks, an assault weapons ban, and the repeal of the NRA’s corporate gun manufacturer immunity shield – she will take executive action to keep our kids and communities safe. </li>
   <li>She’ll mandate the most comprehensive federal background checks in history, revoke the licenses of gun manufacturers that break the law, close the “boyfriend loophole” to make it harder for domestic abusers to purchase guns, reverse President Trump’s dangerous decision to allow fugitives from justice to purchase guns, and ban the importation of AR-15 style assault weapons.</li>
</ul>
</p>

<h2 class="blue">Immigration:</h2>
<p class="text">
  <ul class="text">
  <li>As president, Kamala will fight to pass immigration reform with a pathway to citizenship for the 11 million people living in our communities and contributing to our economy. </li>
  <li> While she wages that fight, she will immediately reinstate DACA and implement DAPA to protect DREAMers and their parents from deportation. </li>
  <li> She will also restore and expand Temporary Protected Status for hundreds of thousands of immigrants who would face war or catastrophe if forced to return home.</li>
  <li>Kamala also believes we must fundamentally overhaul our immigration enforcement policies and practices—they are cruel and out of control. </li>
  <li> As president, she’ll close private immigrant detention centers, increase oversight of agencies like Customs and Border Protection, and focus enforcement on increasing public safety, not on tearing apart immigrant families.</li>
</ul>
</p>

<h2 class="red">Climate Change:</h2>
<p class="text">
  <ul class="text">
  <li>Kamala knows we need to take on big oil companies to win this fight—and that’s exactly what she’s done throughout her career. From defending California’s landmark climate laws in court, to suing corporations like Chevron for damaging the environment, Kamala has stood up to special interests and won.</li>
  <li>She believes in modernizing our transportation, energy, and water infrastructure. It means accelerating the spread of electric vehicles, solar panels, and wind turbines. </li>
</ul>
  </p>

  <h2 class="blue">Candidate Website: </h2> <a href=https://kamalaharris.org/>https://kamalaharris.org/</a><br>
{% endblock %}
