{% extends "base.html" %}


{% block body %}

<div class="countdown">
<iframe src="https://www.270towin.com/2020-countdown-clock/widget300x200.php" width="300" height="200" border="0" frameBorder="0">
    Browser not supported. Visit <a href="http://www.270towin.com/">www.270towin.com</a>
</iframe>
</div>

<h2 id= "mission"> OUR MISSION STATEMENT:</h2>
<h3 id="stuff">  Educate all people, especially young voters,<br> on  the candidates of the 2020 presidential election <br> and encourage voters to take action in order to <br> create a more politically aware America.   </h3>


{% endblock %}
