{% extends "base.html" %}

{% block body %}
<center>
<h1 class="blue">Bernie Sanders</h1>

<img alt= "Bernie Sanders" src="{{ url_for('static', filename='sanders(twitter).png')}}" width="285" height="285" style="padding-bottom:0.5em;">
</center>

<p class="text">
Sanders was first elected to represent Vermont in the U.S. Senate in 2006 and took office the following year. Previously, he served as the mayor of Burlington (1981–89) and as a member of the U.S. House of Representatives (1991–2007). Formally unaffiliated with any political party, he sought the Democratic nomination in the U.S. presidential elections of 2016 and 2020.
</p>

<h2 class="red">Gun Control:</h2>
<p class="text">
  <ul class="text">
<li>“Folks who do not like guns [are] fine. But we have millions of people who are gun owners in this country — 99.9 percent of those people obey the law. I want to see real, serious debate and action on guns, but it is not going to take place if we simply have extreme positions on both sides. I think I can bring us to the middle.”</li>
<li>Gun control legislation should ultimately fall on individual states, with the exception of a federal ban on assault weapons and instant background checks to prevent firearms from finding their way into the hands of criminals and the mentally ill.</li>
<li>Bernie believes assault weapons, as well as magazines holding more than ten bullets, should be banned nationwide. Assault weapons should be categorically banned.</li>
</ul>
</p>

<h2 class="blue">Immigration:</h2>
<p class="text">
<ul class="text">
<li>“[We are a ] nation of immigrants. That is, in fact, the strength of America.”</li>
<li>Bernie supports immigration reform that will address the legal status of the roughly 11 million undocumented people in our country. Bernie also supports visa reform, securing the border, and protecting both guest workers and undocumented workers from labor exploitation.</li>
</ul>
</p>

<h2 class="red">Climate Change:</h2>
<p class="text">
  <ul class="text">
<li>“Climate change is not a problem we will have to worry about 50 years from now. Overwhelming scientific consensus indicates that climate change is already exacerbating extreme weather events like heat waves, wildfires, droughts, floods, and hurricanes. Climate change is already negatively impacting real estate values due to sea level rise and global agriculture and food security through changing water availability, flooding, and drought. These trends will only continue as global temperatures and sea levels continue to rise.”</li>
<li>Bernie strongly believes climate change is real, largely caused by human activities, and poses an existential threat to the entire planet. We must act now with aggressive, immediate action and prioritize our efforts to address the climate crisis.</li>
<li>He has been calling for  Green New Deal measures since 2016 and co-sponsored 2019 Green New Deal legislation in the Senate.</li>
<li>Bernie is calling for a nationwide ban on fracking</li>
</ul>
</p>

<h2 class="blue">Candidate Website: </h2> <a href=https://berniesanders.com/>https://berniesanders.com/</a><br>

{% endblock %}
