{% extends "base.html" %}

{% block body %}
<center>
<h1 id="trash">Donald Trump</h1>

<img alt= "Donald Trump" src="{{ url_for('static', filename='trump(wikipedia).jpg')}}" width="225" height="285" style="padding-bottom:0.5em;">
</center>

<p class="text">
Donald Trump is the 45th and current president of the United States. Before entering politics, he was a businessman and television personality.
</p>

<p>
<h2 class="red">Gun Control:</h2>
<ul class="text">
<li>Trump safety commission rejects calls for gun control, sticks with suggestions that schools arm themselves. </li>
<li>The Administration opposes H.R. 8 [Bipartisan Background Checks Act of 2019] because it would impose burdensome requirements on certain firearm transactions. By overly extending the minimum time that a licensed entity is required to wait for background check results, H.R. 1112 [Enhanced Background Checks Act of 2019] would unduly impose burdensome delays on individuals seeking to purchase a firearm.</li>
</ul>
</p>

<h2 class="blue">Immigration:</h2>
<p class="text">
<ul class="text">
<li>Trump's immigration policies center around six major areas:</li>
<li>Completion of the border wall with Mexico.</li>
<li>Deport immigrants who arrived in the United States as children. They are currently protected under the Deferred Action for Childhood Arrivals program.</li>
<li> Restrict travel and work visas from eight countries.</li>
<li>Increase screening of refugees while cutting the staff needed to do so.</li>
<li>Review the H-1B visa program.</li>
<li>Curb legal immigration.</li>
</ul>
</p>

<h2 class="red">Climate Change:</h2>
<p class="text">
“We have only one America; we have only one planet. That’s why every day of my presidency we will fight for a cleaner environment and a better quality of life for every one of our great citizens.”
</p>

<h2 class="blue">Candidate Website: </h2> <a href=https://www.donaldjtrump.com/>https://www.donaldjtrump.com/</a><br>

{% endblock %}
