{% extends "base.html" %}

{% block body %}
<center>
<h1 class="blue">Elizabeth Warren</h1>

<img alt= "Elizabeth Warren" src="{{ url_for('static', filename='warren(twitter).jpg')}}" width="285" height="285" style="padding-bottom:0.5em;">
</center>

<p class="text">
Elizabeth was a law professor for more than 30 years at Rutgers University, the University of Houston,
University of Texas-Austin, University of Michigan, University of Pennsylvania, and Harvard University.
assistant to President Barack Obama and special adviser to the Secretary of the Treasury
Elizabeth ran for the U.S. Senate in her home state of Massachusetts. She has served as the Bay State’s
Senior Senator since 2013.
</p>

<h2 class="red">Gun Control:</h2>
<p class="text">
  <ul class="text">
<li>She will hold both gun dealers and manufacturers accountable for the violence promoted by their products. </li>
<li> "I will break the NRA’s stranglehold on Congress by passing sweeping anti-corruption legislation and eliminating
  the filibuster so that our nation can no longer be held hostage by a small group of well-financed extremists who
  have already made it perfectly clear that they will never put the safety of the American people first." </li>
<li>"I will send Congress comprehensive gun violence prevention legislation. I will sign it into law within my
  first 100 days" </li>
<li> "We will extend the existing requirement to report bulk sales to nearly all gun sales." </li>
<li> "We will expand the number of sales covered by existing age restriction provisions that require the purchaser
  to be at least 18 years old, keeping guns out of the hands of more teenagers." </li>
<li>“Instead of a president who winks and nods as white nationalism gets stronger in this country, we need a
  president who will use all the tools available to prevent it.”</li>
  </ul>
</p>

<h2 class="blue">Immigration:</h2>
<p class="text">
  <ul class="text">
<li> “Donald Trump wants to divide us — to pit worker against worker, neighbor against neighbor,” </li>
<li> “We can be better than this. Americans know that immigrants helped weave the very fabric of our country in the
past — and they know that immigrants belong here today.”</li>
<li>Ms. Warren said she would aim to resettle 125,000 refugees in the United States in her first year in office,
  and at least 175,000 per year by the end of her first term.</li>
<li>The plan also codifies Ms. Warren’s support for repealing the section of immigration law that makes illegal
  border crossings a criminal violation and that has enabled the Trump administration to separate parents and
  their children. Under her plan, unauthorized crossings would be a civil violation and prosecutors would
  “prioritize immigration cases with security concerns.”</li>
<li>Ms. Warren also said she would create a task force in the Justice Department to investigate allegations of
  abuses of migrants detained by the Trump administration, including “medical neglect and physical and sexual
  assaults.”</li>
<li> “If you are violating the basic rights of immigrants, now or in the future, a Warren administration will
  hold you accountable,” </li>
<li>In the Medium post, Ms. Warren accused Mr. Trump of having “advanced a policy of cruelty and division that
  demonizes immigrants.”</li>
<li>Her plan also included a pledge to “reshape” ICE, but not abolish the agency as some immigration activists
  have proposed</li>
  </ul>
</p>

<h2 class="red">Climate Change:</h2>
<p class="text">
  <ul class="text">
<li> She struck early with a pledge to prohibit all new fossil fuel leases on public lands, which struck a chord
  with the "keep-it-in-the-ground" camp—she had co-sponsored legislation on the same theme that never moved in
  the Republican Senate.</li>
<li>That's what happened with her biggest climate proposal so far, a $2 trillion package describing a 10-year
  program of investment in green research, manufacturing and exporting, all to help "achieve the ambitious
targets of the Green New Deal." </li>
<li>Her plan would include $1.5 trillion for American-made clean energy products, $400 billion in funding for green research and development and $100 billion in foreign assistance to purchase
emissions-free American energy technology.</li>
<li>Warren's agriculture plan aims to incentivize farmers to invest in sustainable farming practices that reduce
  carbon emissions. It calls for expanding the voluntary Conservation Stewardship Program, which compensates
farmers for implementing more sustainable practices, from $1 billion to $15 billion annually </li>
</ul>
</p>

<h2 class="blue">Candidate Website: </h2> <a href=https://elizabethwarren.com/>https://elizabethwarren.com/</a><br>
{% endblock %}
